extends layout
	
block content
	div(class='w3-row-padding w3-padding-64 w3-container w3-light-grey')
		div(class='w3-content')
			div(class='w3-twothird')
				h1 Was sind Stickoxide?
				h5(class='w3-padding-8') Hinter dem Begriff <a href='https://de.wikipedia.org/wiki/Stickoxide'>Stickoxide</a> verbergen sich eine Gruppe chemischer Verbindungen, welche aus Stickstoff (Elementsymbol: N) und Sauerstoff (Elementsymbol: O) bestehen. Zu dieser Gruppe zählen neben Stickstoffmonoxid(NO), Stickstoffdioxid(NO<sub>2</sub>)  und Lachgas (N<sub>2</sub>O) diverse weitere Verbindungen.
				h5(class='w3-padding-8') Bei der Verbrennung in konventionellen Motoren und Verbrennungsanlagen entstehen hauptsächlich Stickstoffmonoxid und Stickstoffdioxid wobei das Stickstoffmonoxid an der Luft in Kontakt mit Sauerstoff sehr schnell zu Stickstoffdioxid reagiert. Dieses Stickstoffdioxid wirkt Toxisch auf den Menschlichen Organismus. Aufgrund ihrer besonderen Bedeutung als Luftschadstoffe werden deshalb in diesem Zusammenhang vereinfacht nur Stickstoffmonoxid und Stickstoffdioxid unter dem Begriff Stickoxide(NO<sub>x</sub>) zusammengefasst.
				h5(class='w3-padding-8') Im Gegensatz zu zum Beispiel CO<sub>2</sub>, welches als Treibhausgas mit für die Klimaerwärmung verantwortlich ist, ergibt sich das Problem durch Stickoxide hauptsächlich aus deren gesundheitsschädlichen Wirkung.

			div(class='w3-third w3-center')
				i(class='w3-padding-64 w3-text-red') Test
				
	div(class='w3-row-padding w3-padding-64 w3-container w3-light-grey')
		div(class='w3-content')
			div(class='w3-half w3-center w3-padding-64' )
				img(src='/images/no2dead.jpg' style='padding:4px;width:100%')
				i Quelle:
				a(href='https://www.umweltbundesamt.de/publikationen/quantifizierung-von-umweltbedingten') Quantifizierung von umweltbedingten Krankheitslasten aufgrund der Stickstoffdioxid-Exposition in Deutschland
	

			div(class='w3-half')
				h1 Einfluss auf die Gesundheit
				h5(class='w3-padding-8') Da NO<sub>2</sub> eine geringe Wasserlöslichkeit hat, wird es nicht in den oberen Atemwegen gebunden und dringt in tiefe Regionen der Lunge ein. Hier kann es als sehr reaktives Oxidationsmittel das empfindliche Zellgewebe angreifen und hierdurch Zellschäden, entzündliche Prozesse, Hyperreagibilität und Allergien verursachen. In Studien zeigte sich ein Zusammenhang zwischen einer Erhöhung der NO<sub>2</sub> Belastung und der Anzahl von Krankenhausaufnahmen aufgrund von Atemwegserkrankungen, Schlaganfällen und Herzinfarkten, in Kombination mit einer steigenden der Mortalität aufgrund dieser Ursachen. Das Umweltbundesamt ermittelte alleine für das Jahr 2014 mehr als 6000 vorzeitige Todesfälle durch NO<sub>2</sub> Belastung.
				h5(class='w3-padding-8') Besonders bereits vorgeschädigte Menschen, wie zum Beispiel Astmatiker, reagieren empfindlich auf eine erhöhte NO<sub>2</sub> Exposition.
				
	div(class='w3-row-padding w3-padding-64 w3-container w3-light-grey')
		div(class='w3-content')
			div(class='w3-twothird')
				h1 Gesetzeslage, Grenzwerte und Maßnahmen
				h5(class='w3-padding-8') In Deutschland regelt das <a href='https://www.gesetze-im-internet.de/bimschg/'>Bundes-Immissionsschutzgesetz, kurz BImSchG,</a> ein großen Teil der rechtlichen Grundlagen im Bereich des Umweltrechtes. Es enthält Regeln, welche dem Zweck dienen, Menschen, Tiere und Pflanzen, den Boden, das Wasser, die Atmosphäre sowie Kultur- und sonstige Sachgüter vor schädlichen Umwelteinwirkungen zu schützen und dem Entstehen schädlicher Umwelteinwirkungen vorzubeugen. Auf Basis dies BImSchG werden die sogenannten Bundesimmissionsschutzverordnungen, kurz BImSchV, erlassen, welche konkrete Regeln und Grenzwerte festlegen.
				h5(class='w3-padding-8') Innerhalb der Europäische Union gibt es einheitlich Mindeststandards im Bereich der Luftqualität, welche in der <a href='https://eur-lex.europa.eu/legal-content/DE/TXT/PDF/?uri=CELEX:32008L0050&qid=1419250736800&from=DE'> Luftqualitätsrichtlinie</a> festgelegt werden. Diese Mindeststandards sind mit der <a href='https://www.gesetze-im-internet.de/bimschv_39/'>39.BImSchV</a> (Luftqualitätsstandards und Emissionshöchstmengen) in deutsches Recht überführt worden. In ihr sind die Grenzwerte für verschiedene Luftschadstoffe und Anforderungen an die Messverfahren geregelt. 
				h5(class='w3-padding-8') Die offiziellen <a href='https://www.umweltbundesamt.de/sites/default/files/medien/2546/dokumente/no2_2018.pdf'>Messdaten der behördlichen Messstationen</a> für das Jahr 2018, welche vom Umweltbundesamt zur Verfügung gestellt werden, zeigen das der Stundenmittelwerte, mit wenigen Ausnahmen, kein Problem darstellen. Anders sieht es aus wenn man die Jahresmittelwerte betrachtet, da es hier einige Überschreitungen um teils 100% gibt. In Folge dieser Überschreitungen sind zur Reduktion der Messwerte verschiedene Maßnahmen, wie Dieselfahrverbote und Umweltspuren, ergriffen worden.
			
			div(class='w3-third w3-center')
				i(class='w3-padding-64 w3-text-red') Test
				